<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choose box</title>
    <style>
        body, html {
            height: 100%;
        }

        body {
            display: grid;
            place-content: center;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .grid {
            display: grid;
            gap: 0.5rem;
        }
    </style>
</head>

<body>
    <form method="POST" class="grid">
        <input type="submit" value="do magic">
    </form>
</body>

</html>